<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/limingxuan</property>
        <property name="hibernate.connection.username">123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="connection.autocommit">true</property> 
        
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="neu/edu/limongxuan/pojo/User.hbm.xml"/>
        <mapping resource="neu/edu/limongxuan/pojo/Message.hbm.xml"/>
        <mapping resource="neu/edu/limongxuan/pojo/GroupDetail.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>
